[run]
branch = True
omit =
    examples/tmp.py
    tests/*

[html]
directory = tests/code_coverage

[report]
fail_under=50
exclude_lines =
    no cov
    pragma: no cover
    if typing.TYPE_CHECKING:
    if __name__ == .__main__.:
